#main-header {
	background: bg-img-dark-overlay('../img/header-background.jpg', 0.5, 0.5) left
		center no-repeat;
	background-size: cover;
	min-height: $header-min-height-val;

	.vertical-decoration {
		&-left {
			width: $header-vertical-decoration-width;
			top: $header-vertical-decoration-top;
		}
	}
}
