//Typography
.xl-text {
	font-size: $xl-text-size;
}

.hr-heading {
	display: block;
	height: 0.2rem;
	background-color: $primary;
	margin: 0.5rem 0;
}

.vertical-decoration {
	&-left {
		width: $header-vertical-decoration-width;
		top: $header-vertical-decoration-top;
	}

	&-right {
		width: $header-vertical-decoration-width;
		top: $header-vertical-decoration-top;
		right: $header-vertical-decoration-right;
	}
}
